.container {
  width: 90vw;
  margin: 0 auto;
  border-radius: 5px;
}

.container h1 {
  font-size: 3.5rem;
  text-align: center;
  background-color: #fff;
}

.container h1 span {
  background-color: #15314e;
  border-radius: 50%;
  padding: 0 0.5rem;
  transition: all 0.5s;
}

.container h1 span:hover {
  border-right: 0.7rem solid #000;
}

.container p {
  text-transform: uppercase;
  text-align: center;
}
