.main {
  position: fixed;
  z-index: 10000000000;
}

.sect {
  background: #004a75;
  height: 7vh;
  width: 100vw;
  border: 1px solid #fff;
}

.container {
  margin-left: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100vw;
}

/* the problem is from this container tr'y fixing it tomorrow */
.container ul {
  display: flex;
  align-items: center;
  margin-left: -2rem;
  list-style: none;
}

.container ul li {
  margin-left: 0.5rem;
}

.container ul li a {
  color: #fff;
}

.contact {
  position: absolute;
  left: 35vw;
  width: 60vw;
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

.contact p {
  font-size: 0.7rem;
  color: #fff;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailicon {
  color: #fff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.container span {
  align-self: start;
  width: 3px;
  height: 7vh;
  background: #fff;
  margin-right: 5px;
}

@media screen and (max-width: 300px) {
  .sect {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .none {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .sect {
    display: none;
  }
  .contact {
    position: absolute;
    left: 37vw;
  }
  .contact p {
    font-size: 1rem;
    color: #fff;
  }
}

@media screen and (min-width: 920px) {
  .sect {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .main {
    width: 100vw;
  }
  .sect {
    display: none;
  }
}
