.sect {
  background: #004a75;
  height: 7vh;
  position: fixed;
  width: 100vw;
  z-index: 1000000;
}

.container {
  margin-left: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100vw;
}

.container ul {
  /* width: 30vw; */
  display: flex;
  /* align-items: start; */
  list-style: none;
  margin-left: -2rem !important;
}

.container ul li {
  margin-left: 0.5rem;
}

.container ul li a {
  color: #fff;
}

.contact {
  width: 60vw;
  display: flex;
  justify-content: end;
  margin-right: 1.5rem;
  /* align-items: center; */
  /* align-items: flex-start; */
}

.contact p {
  font-size: 0.7rem;
  color: #fff;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailicon {
  color: #fff;
  margin-right: 0.5rem;
}

.container span {
  align-self: start;
  width: 5px;
  height: 7vh;
  background: #fff;
  margin-right: 5px;
}

.none {
  display: none;
}

@media screen and (max-width: 300px) {
  .sect {
    display: none;
  }
}
