.area {
  position: relative;
  height: 55vh;
  top: 20vh;
  background-size: cover;
  background-color: #fff;
  background-image: linear-gradient(
      to right bottom,
      #00c5cc24,
      rgba(0, 0, 0, 0.547)
    ),
    url("../../../Assets/systemDarkImage.jpg");
  padding-bottom: 2rem;
}

.main {
  line-height: 2rem;
  text-align: center;
  font-size: 2.1rem;
  color: #00c4cc;
  font-variant: small-caps;
  transition: all 0.5s;
}

.main h1 {
  display: none;
}

.type {
  width: 80vw;
  margin: 0 auto;
  padding-top: 10rem;
}

.button {
  background: #222222;
  display: flex;
  border: none;
  justify-content: center;
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
  position: absolute;
  bottom: 1.5rem;
  left: 30%;
  right: 30%;
}

@media screen and (max-width: 300px) {
  .button {
    padding: 0.5rem;
    position: absolute;
    left: 25%;
    right: 25%;
  }
  .button a {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
  }
}

@media screen and (min-width: 760px) {
  .button {
    position: absolute;
    left: 40%;
    right: 40%;
  }
  .main {
    width: 40vw;
  }
}

.button a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: capitalize;
}

.button:hover {
  background: transparent;
  border: 1px solid #fff;
  padding: 0.8rem 1.2rem;
}

@media screen and (max-width: 300px) {
  .area {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .area {
    position: relative;
    top: 13vh;
  }
}

@media screen and (min-width: 760px) {
  .main {
    text-align: left;
    color: #fff;
    font-size: 3rem;
    line-height: 3rem;
  }

  .main h1 {
    display: block;
    line-height: 5rem;
    width: 60vw;
    margin-left: 0;
    text-align: left;
  }

  .main h1 span {
    color: #00c4cc;
  }

  .type {
    padding-top: 4rem;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 920px) {
  .area {
    height: 100vh;
  }

  /* .main {
    text-align: left;
    color: #fff;
    font-size: 3rem;
  }

  .main h1 {
    display: block;
    line-height: 5rem;
    width: 60vw;
    margin-left: 0;
    text-align: left;
  }

  .main h1 span {
    color: #00c4cc;
  }

  .type {
    padding-top: 5rem;
    padding-left: 2rem;
  } */
}
